@import 'display/block';
@import 'display/inline';
@import 'display/inline-block';
@import 'display/list-item';
@import 'display/none';
@import 'display/table';

$button:
  'button',
  'input[type="button"]',
  'input[type="reset"]',
  'input[type="submit"]';

$text:
  'input[type="password"]',
  'input[type="reset"]',
  'input[type="submit"]',
  'input[type="text"]';

$code:
  'code',
  'kbd',
  'pre',
  'samp';

$focusable:
  'a[href]',
  'area[href]',
  'button',
  'details',
  'input',
  'iframe',
  'select',
  'textarea',

  '[contentEditable=""]',
  '[contentEditable="true"]',

  '[tabindex]:not([tabindex^="-"])',
  ':not([disabled])';

$prefixes:
  '-moz-',
  '-ms-',
  '-o-',
  '-webkit-';
